rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function getUserData() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data;
    }

    match /templates/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /cvs/{userId}/{fileName} {
      allow read: if request.auth != null && (
        request.auth.uid == userId ||
        getUserData().role in ['admin', 'superadmin'] ||
        getUserData().status in ['admin', 'superadmin']
      );

      allow write: if request.auth != null && 
        request.auth.uid == userId;
      
      allow create: if request.auth != null && 
        request.auth.uid == userId &&
        request.resource.size < 5 * 1024 * 1024 && // 5MB max
        (
          request.resource.contentType == 'application/pdf' ||
          request.resource.contentType == 'application/msword' ||
          request.resource.contentType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        );

      allow update: if request.auth != null && 
        request.auth.uid == userId;
      
      allow delete: if request.auth != null && 
        request.auth.uid == userId;
    }
    
    match /profilePictures/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /error-reports/{userId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
      
      // Valider le type et la taille de l'image
      allow create: if request.resource.size < 5 * 1024 * 1024 && 
        request.resource.contentType.matches('image/.*');
    }

    // Nouvelle règle simplifiée pour les logos des structures
    match /structures/{structureId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && 
        request.resource.size < 5 * 1024 * 1024 && 
        request.resource.contentType.matches('image/.*');
    }
    
    // Règles pour les logos des entreprises
    match /company-logos/{companyId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && 
        request.resource.size < 5 * 1024 * 1024 && 
        request.resource.contentType.matches('image/.*');
    }

    match /missions/{missionId}/documents/{document} {
      allow read: if request.auth != null;
      
      allow create: if request.auth != null &&
        request.resource.size < 10 * 1024 * 1024 && // 10MB max
        request.resource.contentType == 'application/pdf';
      
      allow update: if request.auth != null &&
        request.resource.size < 10 * 1024 * 1024 && // 10MB max
        request.resource.contentType == 'application/pdf';
      
      allow delete: if request.auth != null;
    }

    // Règles pour les documents des entreprises
    match /companies/{companyId}/documents/{fileName} {
      allow read: if request.auth != null;
      allow create: if request.auth != null &&
        request.resource.size < 10 * 1024 * 1024 && // 10MB max
        request.resource.contentType == 'application/pdf';
      allow update: if request.auth != null &&
        request.resource.size < 10 * 1024 * 1024 && // 10MB max
        request.resource.contentType == 'application/pdf';
      allow delete: if request.auth != null;
    }

    // Règles pour les justificatifs de notes de frais
    match /expenses/{userId}/{missionId}/{fileName} {
      allow read: if request.auth != null && (
        request.auth.uid == userId ||
        getUserData().status in ['admin', 'superadmin']
      );

      allow create: if request.auth != null && 
        request.auth.uid == userId &&
        request.resource.size < 5 * 1024 * 1024 && // 5MB max
        (
          request.resource.contentType.matches('image/.*') ||
          request.resource.contentType == 'application/pdf'
        );

      allow update: if request.auth != null && 
        request.auth.uid == userId;

      allow delete: if request.auth != null && 
        request.auth.uid == userId;
    }

    // Règles pour les mails et images uploadés sur les prospects
    match /prospects/{prospectId}/mails/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
        getUserData().role in ['member', 'admin', 'superadmin'] || getUserData().status in ['member', 'admin', 'superadmin']
      );
      allow create: if request.auth != null && (
        getUserData().role in ['member', 'admin', 'superadmin'] || getUserData().status in ['member', 'admin', 'superadmin']
      ) &&
        request.resource.size < 10 * 1024 * 1024 && // 10MB max
        (
          request.resource.contentType.matches('image/.*') ||
          request.resource.contentType == 'application/pdf' ||
          request.resource.contentType == 'message/rfc822' // pour les mails .eml
        );
    }
  }
} 